<!DOCTYPE html>
<html>
<!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.19.3")
  -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
        type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.19.3/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <style>
        html,
        body {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <!-- example of injection point where you write your app template -->
    <div id="q-app">
        <q-layout style="overflow:hidden;">
            <q-header>
                <q-toolbar>
                    <q-toolbar-title>bonsai-image Library demo</q-toolbar-title>
                    <q-space></q-space>
                    <q-btn flat round icon="file_download" @click="download_image"><q-tooltip
                            class="text-body2">Download current image.</q-tooltip></q-btn>
                </q-toolbar>
            </q-header>
            <q-page-container>
                <q-page class="q-pa-sm">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-5">
                            <div class="row">
                                <div class="col-2">
                                    <q-radio v-model="appdata.elements.manage.modelfrom" val="url"
                                        label="URL"></q-radio>
                                </div>
                                <div class="col-10">
                                    <q-input v-model="appdata.elements.manage.url" label="URL" filled dense></q-input>

                                </div>
                            </div>
                            <div class="row q-pt-sm">
                                <div class="col-2">
                                    <q-radio v-model="appdata.elements.manage.modelfrom" val="cache"
                                        label="Cache"></q-radio>
                                </div>
                                <div class="col-10">
                                    <q-input v-model="appdata.elements.manage.cacheName" label="Cache name" filled
                                        dense></q-input>

                                </div>
                            </div>
                            <div class="row q-pt-sm">
                                <div class="col-12">
                                    <q-input v-model="appdata.elements.progress.text" filled dense readonly>
                                    </q-input>
                                </div>
                            </div>
                            <div class="row q-pt-sm">
                                <div class="col-4">
                                    <q-btn dense color="warning" icon="delete" label="Release from memory" no-caps
                                        @click="btn_release_click">
                                        <q-tooltip class="text-body2">Release model from GPU memory.</q-tooltip>
                                    </q-btn>
                                </div>
                                <div class="col-4">
                                    <q-btn dense color="warning" icon="delete" label="Clear cache" no-caps
                                        @click="btn_clearmemory_click">
                                        <q-tooltip class="text-body2">Clear cache</q-tooltip>
                                    </q-btn>
                                </div>
                                <div class="col-4">
                                    <q-btn label="Check model" rounded color="secondary" no-caps
                                        :disable="appdata.states.is_model_loaded"
                                        @click="btn_get_click"
                                    >
                                        <q-tooltip class="text-body2">Download or Load a model.</q-tooltip>
                                    </q-btn>
                                </div>
                            </div>
                            <div class="row q-pt-sm">
                                <div class="col-12 q-pb-sm">
                                    <q-input type="textarea" label="Fixed prompt" rows="3" filled dense
                                        v-model="appdata.elements.input.fixedPrompt"
                                        @update:model-value="fixedprompt_changed"></q-input>
                                </div>
                                <div class="col-12">
                                    <q-input type="textarea" label="Prompt" rows="4" dense
                                        v-model="appdata.elements.input.prompt" filled>
                                        <template v-slot:append>
                                            <q-btn icon="send" round color="primary" size="md"
                                                :loading="appdata.elements.btnexecute.loading"
                                                :disable="cmp_execute_disabled" @click="btn_execute_click">
                                                <q-tooltip class="text-body1">Start image generation</q-tooltip>
                                            </q-btn>
                                            <br />
                                            <q-btn icon="cancel" round color="negative" size="md"
                                                :disable="!appdata.states.is_generating" @click="btn_cancel_click">
                                                <q-tooltip class="text-body1">Cancel image generation</q-tooltip>
                                            </q-btn>
                                        </template>
                                    </q-input>
                                </div>
                                <div class="col-12">
                                    <q-badge color="secondary">Width: {{ appdata.elements.input.width }}</q-badge>
                                    <q-slider v-model="appdata.elements.input.width" :step="128" :min="256" :max="1024"
                                        snap label markers></q-slider>
                                </div>

                                <div class="col-12">
                                    <q-badge color="secondary">Height: {{ appdata.elements.input.height }}</q-badge>
                                    <q-slider v-model="appdata.elements.input.height" :step="128" :min="256" :max="1024"
                                        snap label markers></q-slider>
                                </div>
                            </div>
                            <div class="row q-pt-sm">
                                <div class="col-12 q-pb-sm">
                                    <q-input type="number" label="Steps"
                                        v-model="appdata.elements.input.numInferenceSteps" :min="4" :max="50"
                                        filled></q-input>
                                </div>

                                <div class="col-12">
                                    <q-input type="number" label="Seed" v-model="appdata.elements.input.seed" :min="0"
                                        :max="1000000" filled>
                                        <template v-slot:append>
                                            <q-btn icon="shuffle" flat round color="primary"
                                                @click="set_random_seed"></q-btn>
                                        </template>
                                    </q-input>
                                </div>
                            </div>
                            <div class="row q-pt-sm">
                                <div class="col-12">
                                    <q-linear-progress
                                        :value="appdata.states.current_step / appdata.elements.input.numInferenceSteps"
                                        color="accent" class="q-mt-sm" size="20px" rounded></q-linear-progress>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6" :style="appdata.elements.output.cssstyles">
                            <div class="row">
                                <div class="col-12">
                                    <q-carousel v-model="appdata.elements.output.current" transition-prev="slide-right"
                                        transition-next="slide-left" swipeable animated control-color="primary"
                                        navigation padding height="auto" class="bg-grey-1 shadow-1 rounded-borders">
                                        <q-carousel-slide v-for="img in appdata.elements.output.images" :key="img.id"
                                            :name="img.id">
                                            <q-card>
                                                <q-img :src="img.dataurl" fit="contain">
                                                    <div class="absolute-bottom text-subtitle2 text-center">
                                                        width: {{ img.width }}<br />
                                                        height: {{ img.height }}<br />
                                                        seed: {{ img.seed }}<br />
                                                        steps: {{ img.steps }}<br />
                                                    </div>
                                                </q-img>
                                                <q-card-section>
                                                    {{ img.prompt }}
                                                </q-card-section>
                                            </q-card>
                                        </q-carousel-slide>
                                    </q-carousel>
                                </div>
                            </div>
                        </div>
                    </div>


                </q-page>
            </q-page-container>


        </q-layout>

    </div>

    <!-- Add the following at the end of your body tag -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.19.3/dist/quasar.umd.prod.js"></script>


    <script type="module">
        import { BonsaiImagePipeline } from '../lib/bonsai-image.js';
        /*
          Example kicking off the UI. Obviously, adapt this to your specific needs.
          Assumes you have a <div id="q-app"></div> in your <body> above
         */
        const app = Vue.createApp({
            setup() {
                class imgItem {
                    constructor(rawdata, url, steps) {
                        this.id = new Date().toISOString();
                        this.raw = rawdata;
                        this.dataurl = url;
                        this.prompt = rawdata.prompt ?? "";
                        this.width = rawdata.width ?? 0;
                        this.height = rawdata.height ?? 0;
                        this.steps = steps ?? 0;
                        this.seed = rawdata.seed ?? 0;
                    }
                }
                class basedata {
                    constructor() {
                        this.elements = {
                            progress: {
                                text: ""
                            },
                            manage: {
                                modelfrom: "cache",
                                url: "",
                                modelName: "",
                                cacheName: "",
                            },
                            input: {
                                fixedPrompt: "",
                                prompt: "",
                                width: 512,
                                height: 512,
                                numInferenceSteps: 4,
                                seed: Math.floor(Math.random() * 1000000)
                            },
                            btnexecute: {
                                loading: false,
                            },
                            output: {
                                /** @type {imgItem[]} */
                                images: [],
                                /** @type {string | null} */
                                current: "",
                                cssstyles: {
                                    height: "100%",
                                    overflow: "auto",

                                }
                            }
                        };
                        this.states = {
                            is_model_loaded: false,
                            is_generating: false,
                            current_step: 0,
                        }
                    }
                }
                /** @type {basedata} */
                const appdata = Vue.reactive(new basedata());
                let pipeline = null;
                let abortctrl = new AbortController();

                //=== computed =========================================================
                const cmp_execute_disabled = Vue.computed(() => {
                    return !appdata.states.is_model_loaded || appdata.states.is_generating;
                })
                //=== event ============================================================
                const fixedprompt_changed = () => {
                    Quasar.LocalStorage.setItem("fixedprompt", appdata.elements.input.fixedPrompt);
                }
                //=== SAMPLE HERE ===
                const btn_execute_click = async (evt) => {
                    if (appdata.states.is_generating) {
                        return;
                    }
                    appdata.elements.btnexecute.loading = true;
                    appdata.states.is_generating = true;
                    appdata.states.current_step = 0;
                    // 3. 画像生成
                    await pipeline.generate({
                        prompt: appdata.elements.input.fixedPrompt + ", " + appdata.elements.input.prompt,
                        width: appdata.elements.input.width,
                        height: appdata.elements.input.height,
                        numInferenceSteps: appdata.elements.input.numInferenceSteps, // 圧縮モデルのため少ないステップ数で高品質に生成可能
                        seed: appdata.elements.input.seed,
                        signal: abortctrl.signal,
                        callbackOnStepEnd: (evt, step, timestep, latents) => {
                            console.log(evt, step, timestep, latents);
                            appdata.states.current_step = step;
                        }
                    })
                        .then(async (result) => {
                            appdata.states.current_step++;
                            const item = new imgItem(result, await result.toDataURL(), appdata.elements.input.numInferenceSteps);
                            appdata.elements.output.images.push(item);
                            appdata.elements.output.current = item.id;
                            console.log(appdata.elements.output.images);
                        })
                        .catch((error) => {
                            if (error.name === 'AbortError') {
                                console.log('Image generation was cancelled by the user.');
                                Quasar.Dialog.create({
                                    title: "Cancelled",
                                    message: "Cancelled image generation",
                                });
                                abortctrl = new AbortController();
                            } else {
                                console.error(error);
                            }
                        })
                        .finally(() => {
                            appdata.elements.btnexecute.loading = false;
                            appdata.states.is_generating = false;
                        });


                }
                const btn_cancel_click = (evt) => {
                    abortctrl.abort();
                }
                //=== SAMPLE HERE ===
                const btn_get_click = async (evt) => {
                    let modelfrom = null;
                    if (appdata.elements.manage.modelfrom == "url") {
                        modelfrom = appdata.elements.manage.url;
                    }
                    // 2. パイプラインの初期化（IndexedDBキャッシュが自動的に作動します）
                    pipeline = await BonsaiImagePipeline.from_pretrained(modelfrom, {
                        onProgress: (status) => {
                            console.log(`Load progress:`, status);
                            if (status.phase == "open") {
                                appdata.elements.progress.text = `${status.component} : ${status.phase}`;
                            } else {
                                appdata.elements.progress.text = `${status.component} : ${status.loaded} / ${status.total} (${status.fromCache ? 'From Cache' : 'Downloading...'})`;
                            }

                        }
                    });

                    appdata.states.is_model_loaded = true;
                    appdata.elements.progress.text = "Completed.";
                    appdata.elements.manage.modelName = pipeline.getModelName();
                    appdata.elements.manage.cacheName = pipeline.getModelName();
                }
                const btn_release_click = async () => {
                    if (pipeline) await pipeline.destroy();
                    Quasar.Dialog.create({
                        title: "message",
                        message: "Cleared loaded model from GPU",
                    });
                    appdata.states.is_model_loaded = false;
                    appdata.states.is_generating = false;
                    appdata.elements.manage.modelName = "";
                }
                const btn_clearmemory_click = async () => {
                    if (pipeline) {
                        await BonsaiImagePipeline.clearCache();
                        await pipeline.destroy();
                        Quasar.Dialog.create({
                            title: "message",
                            message: "Cleared cache."
                        });
                    }

                }
                const download_image = () => {
                    const img = appdata.elements.output.images.find(v => v.id == appdata.elements.output.current);
                    if (img) {
                        const link = document.createElement('a');
                        link.href = img.dataurl;
                        link.download = `${img.prompt.slice(0, 20)}_${img.width}x${img.height}_${img.steps}_${img.seed}.png`;
                        link.click();
                    }
                }
                const set_random_seed = () => {
                    appdata.elements.input.seed = Math.floor(Math.random() * 1000000);
                }
                const main = () => {
                    BonsaiImagePipeline.isSupported().then(supported => {
                        if (supported) {
                            console.log('WebGPU is supported');
                        } else {
                            console.log('WebGPU is not supported');
                        }
                    });
                }
                Vue.onMounted(async () => {
                    console.log("mounted");
                    console.log(appdata);
                    main();
                    console.log(Quasar.Screen);
                    appdata.elements.output.cssstyles.height = `${Quasar.Screen.height - 50}px`;

                    const fixedPrompt = Quasar.LocalStorage.getItem("fixedprompt");
                    if (fixedPrompt) {
                        appdata.elements.input.fixedPrompt = fixedPrompt;
                    }
                });
                Vue.onUnmounted(async () => {
                    console.log("unmounted");
                    if (pipeline) await pipeline.destroy();
                });
                return {
                    appdata,
                    fixedprompt_changed,
                    btn_execute_click, btn_cancel_click, btn_get_click, main, download_image,
                    set_random_seed, btn_release_click, btn_clearmemory_click,

                }
            }
        })

        app.use(Quasar, {
            config: {
                brand: {
                    primary: '#996d43',
                    secondary: '#1a358f',
                    accent: '#9C27B0',

                    dark: '#1d1d1d',
                    'dark-page': '#121212',

                    positive: '#4c8f5b',
                    negative: '#C10015',
                    info: '#31CCEC',
                    warning: '#F2C037'
                }
            }

        });
        app.mount('#q-app');
    </script>
</body>

</html>